.list{
	margin-top: 10px;
}
.order_id{
	height: 40px;
	line-height: 50px;
	font-size: 12px;
	color: #808080;
	text-indent: 5px;
	margin-left: 10px; 
	border-bottom: 1px solid #e6e6e6;
}
.detail{
	margin: 0 10px;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #e6e6e6;
	position: relative;
}
.start-time span{
	float: left;
	 width: 50%;
	 line-height: 45px;
	 text-indent: 30px;
}
.radio_box input, .rool input{
	opacity: 0;
}
.radio_box{ display:inline-block; position:relative;left: -9px;top: 12px;height: 45px;width: 22px;}

.radio_box label{ width:22px; height:22px; position:absolute; top:0; left:2px;  background:url(../img/order_nor.png); cursor:pointer;background-size: 22px 22px;}
.radio_box input:checked + label, .rool input:checked + label{
     background:url(../img/order_sel.png);
     background-size: 22px 22px;

}
.start-time,#pay{
	margin: 8px 10px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #e6e6e6;
}
.pay_list{
	margin: 0 0 0 10px;
	height: 25px;
	line-height: 25px;
	color: #a7a7a7;
	border-bottom: 1px solid #e6e6e6;
}
.rool{
	position: relative;
	height: 45px;
	line-height: 45px;
	font-size: 15px;
	color: #444444;
}
.rool img{
	width: 6.4%;
}
.rool label{

	width:22px; height:22px; position:absolute; top:11px; right:10px;  background:url(../img/order_nor.png); cursor:pointer;background-size: 22px 22px;
}
.rool img{
	position: relative;
	top: 7px;
	left: 13px;
	margin-right: 25px;
}
.line{
	 height: 1px;
	 margin-left: 50px;
	 background: #e6e6e6;
}
#total{
  border-top: 1px solid #e6e6e6;
  width: 100%;
  background: #fff;
  position: fixed;
  bottom: 0;
  height: 49px;
  line-height: 49px;
  font-size: 15px;
  text-indent: 11px;

}
.menu_price{
	color: #e1423f;
}
.submit{
	position: absolute;
	right: 0;top: 0;
	height: 100%;
	width: 100px;
	text-align: center;
	background: #e23f40;
	text-indent: 0px;
	color: #fff;
}
.num{
	color: #808080;
	float: right;
}
.red_line{
	height: 4px;
	width: 21px;
	border-radius: 1px;
	background: #ff9fa0;
	margin-top: 17px;
	position:absolute;
	left: 90%;
	top: 0;
}
.red_point{
	position: absolute;
	width: 15px;
	height: 15px;
	background: #e23f40;
	border-radius: 50%;
	right: 0px;
	top: 12px;
}
.tip{
	margin: 19px 0 0 29px;
	font-size: 12px;
	color: #808080;
}
.number{
	color: #e2403e;
}

.list ul{
	 margin-left: 85px;
     width: auto;
     padding-right: 10px;
}
.container{

	border-bottom: 1px solid #e6e6e6;
}
.detail{
	border-top: none;
}
.status{
	margin-right: 20px;
	color: #e3413c;
}
.detail_z{
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	background: red;
	width: 120%;
	z-index: 20;
	background: rgba(100,100,100,0);
}
.detail_x{
	position: relative;
}
.container img{width: 72px;}














